/*
共通のボディ設定、背景色、および共通ヘッダーのスタイル
*/
body {
    font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
    /* 横スクロールを禁止 */
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 共通ヘッダー */
.global-header {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    flex-shrink: 0;
}

.header-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px ;
    display: flex;
    align-items: center;
}

.app-logo {
    font-size: 35px;
    font-weight: 700;
    color: #ffc107;
    font-family: "Lobster Two", sans-serif;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    margin-right: 15px; 
}

.header-border {
    height: 1px; 
    background-color: #eee; 
    margin: 0;
}